<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

<!--    permission over sdk 23-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

<!--    permission under sdk 23-->
    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeliciosoApp"
        tools:targetApi="31">
        <activity
            android:name=".Burger_EightActivity"
            android:exported="false" />
        <activity
            android:name=".Burger_SevenActivity"
            android:exported="false" />
        <activity
            android:name=".Burger_SixActivity"
            android:exported="false" />
        <activity
            android:name=".Burger_FiveActivity"
            android:exported="false" />
        <activity
            android:name=".Burger_FourActivity"
            android:exported="false" />
        <activity
            android:name=".Burger_ThreeActivity"
            android:exported="false" />
        <activity
            android:name=".Burger_TwoActivity"
            android:exported="true"/>
        <activity
            android:name=".Burger_OneActivity"
            android:exported="false"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>